/*
  background: #850600
  background: #AD0B04
  background: #E0B577
  background: #B07F4F
  background: #3B0822
*/
html {
 background: #e0b577;
 font-family: Arial;
 color: #ad0b04;
}
header {
 background: #3b0822;
}
p, li {
 color: #850600;
}
input {
 border: none;
 margin: 0.15em;
 width: 50%;
}
h1.teams-header {
 text-align: center;
 letter-spacing: 0.02em;
 padding: 0.4em 0em;
 font-size: 3.56em;
 margin: auto;
}
.flex-teams-main {
 display: flex;
 justify-content: space-between;
}
section.flex-teams-item {
 flex-shrink: 0;
 width: 49%;
 height: 20em;
 background: #b07f4f;
 margin-top: 1em;
}
.teams-item-title h3 {
 background: #3b0822;
 margin: 0em;
 padding: 0.5em 0em;
 text-align: center;
}
.flex-teams-list {
 display: flex;
 justify-content: flex-start;
 overflow-x: scroll;
 margin-top: 1em;
}
section.teams-list-item {
 width: 33%;
 flex-shrink: 0;
 background: #b07f4f;
 margin: 0em 0.2em 0em 0em;
 height: 10em;
}
h4.team-name {
 text-align: center;
 background: #3b0822;
 margin: 0em;
 padding: 0.5em 0em;
}
ul.nodot {
 -webkit-column-count: 2;
 -webkit-column-gap: 0em;
 margin-top: 1em;
 margin-bottom: 0em;
 padding: 0em;
}
ul.nodot li {
 text-align: center;
}
div.createform, div.editform {
 margin: 1em;
}
div.submitbtn {
 text-align: center;
}